{{ ansible_managed | comment }}

JobDefs {
  Name = "DefaultJob"
  Type = Backup
  Level = Incremental
  Client = {{ ansible_fqdn }}
  FileSet = "Full Set"
  Schedule = "SchedWeeklyCycle"
  Storage = File
  Messages = Standard
  Pool = Default
  Priority = 10
  Write Bootstrap = "/var/lib/bacula/%c.bsr"
  Full Backup Pool = Full-Pool
  Incremental Backup Pool = Inc-Pool
  Differential Backup Pool = Diff-Pool
}
