{{ ansible_managed | comment }}
#
# Default Bacula Storage Daemon Configuration file
#
#  For Bacula release 5.2.6 (21 February 2012) -- debian jessie/sid
#
# You may need to change the name of your tape drive
#   on the "Archive Device" directive in the Device
#   resource.  If you change the Name and/or the
#   "Media Type" in the Device resource, please ensure
#   that dird.conf has corresponding changes.
#

Storage {
  Name = {{ ansible_hostname }}-sd
  SDPort = 9103
  WorkingDirectory = "/var/lib/bacula"
  Pid Directory = "/var/run/bacula"
  Maximum Concurrent Jobs = {{ bacula_max_concur_jobs }}
  # we are listening on all IP addresses for bacula-sd
  # SDAddress = {{ ansible_fqdn }}
}

#
# List Directors who are permitted to contact Storage daemon
#
Director {
  Name = {{ ansible_hostname }}-dir
  Password = "{{ bacula_sd_server_password }}"
}

#
# Restricted Director, used by tray-monitor to get the
#   status of the storage daemon
#
Director {
  Name = {{ ansible_hostname }}-mon
  Password = "{{ bacula_monitor_password }}"
  Monitor = yes
}

#
# Note, for a list of additional Device templates please
#  see the directory <bacula-source>/examples/devices
# Or follow the following link:
#  http://bacula.svn.sourceforge.net/viewvc/bacula/trunk/bacula/examples/devices/
#

#
# Devices supported by this Storage daemon
# To connect, the Director's bacula-dir.conf must have the
#  same Name and MediaType.
#

Device {
  Name = FileStorage
  Media Type = File
  Archive Device = {{ bacula_datadir_backup }}
  LabelMedia = yes;
  Random Access = Yes;
  AutomaticMount = yes;
  RemovableMedia = no;
  AlwaysOpen = no;
  Maximum Concurrent Jobs = {{ bacula_max_concur_jobs }}
}

#
# Send all messages to the Director,
# mount messages also are sent to the email address
#
Messages {
  Name = Standard
  director = {{ ansible_hostname }}-dir = all
}
