{{ ansible_managed | comment }}

#
# When to do the backups, full backup on first sunday of the month,
#  differential (i.e. incremental since full) every other sunday,
#  and incremental backups other days
Schedule {
  Name = "SchedWeeklyCycle"
  Run = Full 1st sun at 23:05
  Run = Differential 2nd-5th sun at 23:05
  Run = Incremental mon-sat at 23:05
}

# This schedule does the catalog. It starts after the SchedWeeklyCycle
Schedule {
  Name = "SchedWeeklyCycleAfterBackup"
  Run = Full sun-sat at 23:10
}
