{{ ansible_managed | comment }}

{% if bacula_client.value.bacula_client_fileset_list is defined %}
FileSet {
  Name = "{{ bacula_client.value.bacula_client_fileset }}"
  Include {
    Options {
      signature = MD5
    }
{% for dir in bacula_client.value.bacula_client_fileset_list %}
    File = {{ dir }}
{% endfor %}
  }
{% if bacula_client.value.bacula_client_fileset_list_exclude is defined %}
  Exclude {
{% for dir in bacula_client.value.bacula_client_fileset_list_exclude %}
    File = {{ dir }}
{% endfor %}
  }
{% endif %}
}

{% endif %}

Job {
  Name = "{{ bacula_client.value.bacula_client_name }}"
  JobDefs = "DefaultJob"
  File Set = "{{ bacula_client.value.bacula_client_fileset }}"
  Client = "{{ bacula_client.value.bacula_client_name }}"
{% if bacula_client.value.bacula_client_prebackupscript is defined %}
  ClientRunBeforeJob = "{{ bacula_client.value.bacula_client_prebackupscript }}"
{% endif %}
{% if bacula_client.value.bacula_client_postbackupscript is defined %}
  ClientRunAfterJob  = "{{ bacula_client.value.bacula_client_postbackupscript }}"
{% endif %}
}

Client {
 Name = "{{ bacula_client.value.bacula_client_name }}"
 Address = "{{ bacula_client.value.bacula_client_name }}"
 Catalog = {{ bacula_client.value.bacula_client_catalog }}
 Password = "{{ bacula_client.value.bacula_client_password }}"
 File Retention = {{ bacula_client.value.bacula_client_file_retention }}
 Job Retention = {{ bacula_client.value.bacula_client_job_retention }}
 AutoPrune = {{ bacula_client.value.bacula_client_autoprune }}
}
