{{ ansible_managed | comment }}

# Default pool definition
Pool {
  Name = Default
  Pool Type = Backup
  Recycle = yes                       # Bacula can automatically recycle Volumes
  AutoPrune = yes                     # Prune expired volumes
  Volume Retention = 365 days         # one year in default pool
}

Pool {
  Name = Full-Pool
  Pool Type = Backup
  Recycle = yes
  AutoPrune = yes
  Volume Retention = {{ bacula_volume_retention_full }}
  Volume Use Duration = {{ bacula_volume_use_duration_full }}
  Label Format = Full-
  Maximum Volumes = {{ bacula_max_volumes_full }}
}

Pool {
  Name = Inc-Pool
  Pool Type = Backup
  Recycle = yes
  AutoPrune = yes
  Volume Retention = {{ bacula_volume_retention_inc }}
  Volume Use Duration = {{ bacula_volume_use_duration_inc }}
  Label Format = Inc-
  Maximum Volumes = {{ bacula_max_volumes_inc }}
}

Pool {
  Name = Diff-Pool
  Pool Type = Backup
  Recycle = yes
  AutoPrune = yes
  Volume Retention = {{ bacula_volume_retention_diff }}
  Volume Use Duration = {{ bacula_volume_use_duration_diff }}
  Label Format = Diff-
  Maximum Volumes = {{ bacula_max_volumes_diff }}
}

# Scratch pool definition
Pool {
  Name = Scratch
  Pool Type = Backup
}
