{{ ansible_managed | comment }}

# Define the main nightly save backup job
#   By default, this job will back up to disk in /nonexistant/path/to/file/archive/dir
Job {
  Name = "{{ ansible_fqdn }}"
  JobDefs = "DefaultJob"
  File Set = "Full Set"
}


# Backup the catalog database (after the nightly save)
Job {
  Name = "BackupCatalog"
  JobDefs = "DefaultJob"
  Level = Full
  FileSet="Catalog"
  Schedule = "SchedWeeklyCycleAfterBackup"
  # This creates an ASCII copy of the catalog
  # Arguments to make_catalog_backup.pl are:
  #  make_catalog_backup.pl <catalog-name>
  RunBeforeJob = "/etc/bacula/scripts/make_catalog_backup.pl {{ bacula_catalog }}"
  # This manages the copy of the catalog
  RunAfterJob  = "/etc/bacula/scripts/manage_catalog_backup"
  Write Bootstrap = "/var/lib/bacula/%n.bsr"
  Priority = 11                   # run after main backup
}


# Standard Restore template, to be changed by Console program
#  Only one such job is needed for all Jobs/Clients/Storage ...
#
Job {
  Name = "RestoreFiles"
  Type = Restore
  Client = {{ ansible_fqdn }}
  FileSet="Full Set"
  Storage = File
  Pool = Default
  Messages = Standard
  Where = {{ bacula_datadir_restore }}
}


# Client (File Services) to backup
Client {
  Name = {{ ansible_fqdn }}
  Address = localhost
  FDPort = 9102
  Catalog = {{ bacula_catalog }}
  Password = "{{ bacula_fd_server_password }}"
  File Retention = {{ bacula_file_retention }}
  Job Retention = {{ bacula_job_retention }}
  AutoPrune = yes
  Maximum Concurrent Jobs = {{ bacula_max_concur_jobs }}
}
