{{ ansible_managed | comment }}

# This is the backup of the catalog
FileSet {
  Name = "Catalog"
  Include {
    Options {
      signature = MD5
    }
    File = "/var/lib/bacula/{{ bacula_db_name }}.sql"
  }
}


# Main backup File Set
FileSet {
  Name = "Full Set"
  Include {
    Options {
      signature = MD5
      compression = GZIP
    }
    File = /etc
    File = /usr/local
  }
  Exclude {
    File = /var/lib/bacula
    File = /nonexistant/path/to/file/archive/dir
    File = /proc
    File = /tmp
    File = /.journal
    File = /.fsck
    File = /backup
  }
}

#
# FileSet definitions comming from various clients
# are moved to client-specific conf files in /etc/bacula/conf.d/
#
