{{ ansible_managed | comment }}
# List Directors who are permitted to contact this File daemon
#
Director {
  Name = {{ bacula_director_name }}-dir
  Password = "{{ bacula_client.value.bacula_client_password }}"
}

# "Global" File daemon configuration specifications
#
FileDaemon {
  Name = {{ bacula_client.value.bacula_client_name }}-fd
  FDport = 9102
  WorkingDirectory = /var/lib/bacula
  Pid Directory = /var/run/bacula
  Maximum Concurrent Jobs = 20
}

# Send all messages except skipped files back to Director
#
Messages {
  Name = Standard
  director = {{ bacula_client.value.bacula_client_name }}-dir = all, !skipped, !restored
}
