{{ ansible_managed | comment }}
#
# Default Bacula Director Configuration file
#
#  The only thing that MUST be changed is to add one or more
#   file or directory names in the Include directive of the
#   FileSet resource.
#
#  For Bacula release 9.0.6 (20 November 2017) -- ubuntu 18.04
#
#  You might also want to change the default email address
#   from root to your address.  See the "mail" and "operator"
#   directives in the Messages resource.
#
# Copyright (C) 2000-2017 Kern Sibbald
# License: BSD 2-Clause; see file LICENSE-FOSS
#

Director {
  Name = {{ ansible_hostname }}-dir
  DIRport = 9101
  QueryFile = "/etc/bacula/scripts/query.sql"
  WorkingDirectory = "/var/lib/bacula"
  PidDirectory = "/run/bacula"
  Maximum Concurrent Jobs = {{ bacula_max_concur_jobs }}
  Password = "{{ bacula_dir_server_password }}"
  Messages = Daemon
  DirAddress = 127.0.0.1
}

# Definition of file storage device
Storage {
  Name = File
  Address = {{ ansible_fqdn }}
  SDPort = 9103
  Password = "{{ bacula_sd_server_password }}"
  Device = FileStorage
  Media Type = File
  Maximum Concurrent Jobs = {{ bacula_max_concur_jobs }}
}

# Generic catalog service
Catalog {
  Name = {{ bacula_catalog }}
  dbname = "{{ bacula_db_name }}"; DB Address = "{{ bacula_db_address }}"; dbuser = "{{ bacula_db_user }}"; dbpassword = "{{ bacula_db_password }}"
}

#
# Restricted console used by tray-monitor to get the status of the director
#
Console {
  Name = {{ ansible_hostname }}-mon
  Password = "{{ bacula_monitor_password }}"
  CommandACL = status, .status
}

# Include File Sets
@/etc/bacula/bacula-dir-filesets.conf

# Include Pools
@/etc/bacula/bacula-dir-pools.conf

# Include JobDefs
@/etc/bacula/bacula-dir-jobdefs.conf

# Include Schedules
@/etc/bacula/bacula-dir-schedules.conf

# Include Messages
@/etc/bacula/bacula-dir-messages.conf

# Include configuration for local backups (for server node)
@/etc/bacula/bacula-dir-local.conf

# Include *.conf files from bacula conf.d directory
@|"sh -c 'for f in {{ bacula_confd }}/*.conf ; do echo @${f} ; done'"
#

