{{ ansible_managed | comment }}
#
# Default  Bacula File Daemon Configuration file
#
#  For Bacula release 5.2.6 (21 February 2012) -- debian jessie/sid
#
# There is not much to change here except perhaps the
# File daemon Name to
#

#
# List Directors who are permitted to contact this File daemon
#
Director {
  Name = {{ ansible_hostname }}-dir
  Password = "{{ bacula_fd_server_password }}"
}

#
# Restricted Director, used by tray-monitor to get the
#   status of the file daemon
#
Director {
  Name = {{ ansible_hostname }}-mon
  Password = "{{ bacula_monitor_password }}"
  Monitor = yes
}

#
# "Global" File daemon configuration specifications
#
FileDaemon {
  Name = {{ ansible_hostname }}-fd
  FDport = 9102
  WorkingDirectory = /var/lib/bacula
  Pid Directory = /var/run/bacula
  Maximum Concurrent Jobs = {{ bacula_max_concur_jobs }}
  FDAddress = 127.0.0.1
}

# Send all messages except skipped files back to Director
Messages {
  Name = Standard
  director = {{ ansible_hostname }}-dir = all, !skipped, !restored
}
