{{ ansible_managed | comment }}
#
# Bacula User Agent (or Console) Configuration File
#

Director {
  Name = {{ ansible_hostname }}-dir
  DIRport = 9101
  address = localhost
  Password = "{{ bacula_dir_server_password }}"
}
