#! /bin/bash

{{ ansible_managed | comment }}

# In this postbackup bacula script we are cleaning directory with PostgreSQL
# database dumps after bacula job is done

# directory where dumps were made
BASE_DIR='/var/lib/postgresql/backups'
YMD=$(date "+%Y-%m-%d")
DIR="$BASE_DIR/$YMD"

# first delete dumps at location directory
echo "Remove dump files taken"
rm $DIR/*.gz

# now we can remove the directory itself
echo "Remove directory created"
rmdir $DIR
